#navigateBar {
    -fx-background-color: #202C33;
}

#bgColor {
    -fx-background-color: #ecf0f1;
}

#test {
    -fx-fill: #ecf0f1;
    -fx-font-family: "Bodoni MT", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-radius: 15px;
}

#btnSave {
    -fx-background-color: #2ecc71;
    -fx-fill: #ecf0f1;
    -fx-font-family: "Bodoni MT Black", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-radius: 10;
}

#btnLogin{
    -fx-background-color: #1abc9c;
    -fx-fill:#2c3e50 ;
    -fx-background-radius: 15px;
}

#btnSign{
    -fx-background-color: #27ae60;
    -fx-fill:#2c3e50 ;
    -fx-background-radius: 15px;
}